---
title: Watermelon Guys
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{layout.title}} {% if page.title %} | {{page.title}} {% endif %}</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap"
			rel="stylesheet"
		/>
		<link rel="icon"  type="image/png" href="{{ './images/favicon.ico' | relative_url }}">
		<link rel="stylesheet" href="{{ './styles/normalize.css' | relative_url }}" />
		<link rel="stylesheet" href="{{ './styles/styles.css' | relative_url }}" />

	</head>
	<body>
		<nav>
			<div>
				<div>
					<a href="/">
						<img src="/images/watermelon-cliparts/Watermelon-Clip-Art-4.png" alt="" />
						<p>Watermelon Guys</p>
					</a>
				</div>
				<p class="contact-numbers">
					<a href="tel:+447498366215">Walid: +44 7498 366215</a>
					<a href="tel:+447786932524">Mohamed: +44 7786 932524</a>
				</p>
			</div>
		</nav>
		<div class="container">
			<h1>{{page.title}}</h1>
			<hr />
			<div class="content-wrapper">
				{{content}}
				<div class="sidebar">
					{% if page.title contains "About" %} 
					{% else %}
					<h2><a href="{{ './about' | relative_url }}">Find out more about us.</a></h2>
					{% endif %}
					<span></span>
					<p>From Moroccan soils to your front door with-in 2 hours. We deliver all over Greater London.</p>
					<p>Guaranteed customer satisfaction</p>
					<p>We promise quality watermelons from the farms of Morocco, </p>
					<div>
						<h3>What customers say about us</h3>
						<p> "Speedy delivery once again."<br /><strong>Susan, Putney.</strong> </p>
						<p> "Most delicious watermelons I've had"<br /><strong>Barry, Edmonton.</strong> </p>
					</div>
				</div>
			</div>
		</div>
		<footer>Copyright of Watermelon Guys 2020 &copy;</footer>
	</body>
</html>
