---
title: Watermelon Guys
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="{{page.description}}">
		<meta name="robots| content="index, follow">

		<!-- Google / Search Engine Tags -->
		<meta itemprop="name" content="{{layout.title}} {% if page.title %} | {{page.title}} {% endif %}">
		<meta itemprop="description" content="{{page.description}}">
		<meta itemprop="image" content="{{ './images/meta.JPG' | relative_url }}">

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://watermelonguys.co.uk">
		<meta property="og:type" content="website">
		<meta property="og:title" content="{{layout.title}} {% if page.title %} | {{page.title}} {% endif %}">
		<meta property="og:description" content="{{page.description}}">
		<meta property="og:image" content="{{ './images/meta.JPG' | relative_url }}">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="{{layout.title}} {% if page.title %} | {{page.title}} {% endif %}">
		<meta name="twitter:description" content="{{page.description}}">
		<meta name="twitter:image" content="{{ './images/meta.JPG' | relative_url }}">


		<meta property="og:image" content="{{ './images/meta.JPG' | relative_url }}">
		<meta property="og:url" content="{{ './' | relative_url }}">

		<title>{{layout.title}} {% if page.title %} | {{page.title}} {% endif %}</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap"
			rel="stylesheet"
		/>
		<link rel="icon"  type="image/png" href="{{ './images/favicon.ico' | relative_url }}">
		<link rel="stylesheet" href="{{ './styles/normalize.css' | relative_url }}" />
		<link rel="stylesheet" href="{{ './styles/styles.css' | relative_url }}" />
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167951651-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-167951651-1');
		</script>
	</head>
	<body>
		<nav>
			<div>
				<div>
					<a href="/">
						<img src="/images/watermelon-cliparts/Watermelon-Clip-Art-4.png" alt="watermelon guys logo" />
						<p>Watermelon Guys</p>
					</a>
				</div>
				<p class="contact-numbers">
					<a href="tel:+447498366215">Walid: +44 7498 366215</a>
					<a href="tel:+447786932524">Mohamed: +44 7786 932524</a>
				</p>
			</div>
		</nav>
		<div class="container">
			<h1>{{page.title}}</h1>
			<hr />
			<div class="content-wrapper">
				{{content}}
				<div class="sidebar">
					<!-- Load Facebook SDK for JavaScript -->
					<div id="fb-root"></div>

					<!-- Your share button code -->
					<div class="fb-share-button" 
						data-href="https://watermelonguys.co.uk/" 
						data-layout="button_count">
					</div>
					<a class="twitter-share-button"
						href="https://twitter.com/intent/tweet"
						data-hashtags="watermelonguys">
					Tweet</a>
					{% if page.title contains "About" %} 
					{% else %}
					<h2><a href="{{ './about' | relative_url }}">Find out more about us.</a></h2>
					{% endif %}
					<span></span>
					<p>From Moroccan soils to your front door with-in 2 hours. We deliver all over Greater London.</p>
					<p>Guaranteed customer satisfaction</p>
					<p>We promise quality watermelons from the farms of Morocco, </p>
					<div>
						<h3>What customers say about us</h3>
						<p> "Speedy delivery once again."<br /><strong>Susan, Putney.</strong> </p>
						<p> "Most delicious watermelons I've had"<br /><strong>Barry, Edmonton.</strong> </p>
					</div>
				</div>
			</div>
		</div>
		<footer>Copyright of Watermelon Guys 2020 &copy;</footer>
		<script>
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		<script>
			window.twttr = (function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0],
					t = window.twttr || {};
				if (d.getElementById(id)) return t;
					js = d.createElement(s);
					js.id = id;
					js.src = "https://platform.twitter.com/widgets.js";
					fjs.parentNode.insertBefore(js, fjs);
				
					t._e = [];
					t.ready = function(f) {
					t._e.push(f);
				};
			
				return t;
			}(document, "script", "twitter-wjs"));
		</script>
	</body>
</html>
