<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="{{ './styles/normalize.css' | relative_url }}" />
		<link rel="stylesheet" href="{{ './styles/styles.css' | relative_url }}" />
	</head>
	<body>
		<nav>
			<div>
				<div>
					<a href="/">
						<img src="/images/watermelon-cliparts/Watermelon-Clip-Art-4.png" alt="" />
						<p>Watermelon Guys</p>
					</a>
				</div>
				<p class="contact-numbers">
					<a href="tel:+447498366215">Walid: +44 7498 366215</a>
					<a href="tel:+447786932524">Mohamed: +44 7786 932524</a>
				</p>
			</div>
		</nav>
		<div class="container">
			{{content}}
		</div>
		<footer>Copyright of Watermelon Guys 2020 &copy;</footer>
	</body>
</html>
